@using System.Linq
@model Football.Crosscutting.ViewModels.Reports.ReportData

<!DOCTYPE html>

<html>
    <head>
        <title>Match Report</title>
    </head>
    <body>
        <div class="row">
            <div class="col-sm-6">
                <table>
                    <thead>
                        <tr>
                            <th>Player name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MatchGeneralInfo.Players.Where(x => x.TeamId == Model.MatchGeneralInfo.MatchGeneralInfo.LocalTeam.Id))
                        {
                            <tr>
                                <td>
                                    @item.Dorsal @item.Name @item.Surname
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table>
                    <thead>
                        <tr>
                            <th>Player name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MatchGeneralInfo.Players.Where(x => x.TeamId == Model.MatchGeneralInfo.MatchGeneralInfo.VisitorTeam.Id))
                        {
                            <tr>
                                <td>
                                    @item.Dorsal @item.Name @item.Surname
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </body>
</html>
